.contact {
  @media screen and (min-width: $desktop) {
    @include centeredFlex();
    margin-left: auto;
  }

  &__item {
    @media screen and (min-width: $desktop) {
      @include centeredFlex();
    }
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 10px;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 50px;
    }
  }

  &__mail-icon,
  &__phone-icon {
    margin-right: 10px;
    fill: currentColor;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contact__link {
  @include font($fw: 500, $ls: 0.02em);
  color: $secondary-text-color;
  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: $desktop) {
    @include centeredFlex();
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
