.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  overflow-y: scroll;
  opacity: 1;

  transition: opacity $duration $timing-function;

  @media screen and (max-width: 479px) {
    padding: 94px 15px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

  & .modal {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.modal {
  position: relative;

  padding: 40px;

  background: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  // transition: transform $duration $timing-function;

  &__title {
    margin-bottom: 12px;

    @include font($fs: 20px, $lh: 1.5);
    text-align: center;

    color: $primary-text-color;

    @media screen and (min-width: $desktop) {
      @include font($fs: 20px, $lh: 1.15);
    }
  }

  @media screen and (max-width: 479px) {
    max-width: 450px;
    width: 100%;
    height: 609px;
  }

  @media screen and (min-width: $mobile) {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 450px;
    // max-height: 100%;
    width: 100%;
    height: 609px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform $duration $timing-function;
  }

  @media screen and (min-width: $desktop) {
    min-width: 528px;
    min-height: 581px;
  }
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  @include centeredFlex();

  width: 30px;
  height: 30px;
  color: $black-color;
  background: $primary-white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &__icon {
    z-index: 15;
    fill: currentColor;
  }
}

.form {
  width: 100%;
  height: 100%;

  &__label {
    margin-bottom: 4px;

    @include font(null, $fs: 12px, $lh: 1.17, $ls: 0.01em);
    color: $secondary-text-color;
  }

  &__icon {
    position: absolute;
    left: 12px;
    bottom: 11px;
    display: inline-flex;
    fill: currentColor;

    transition: color $duration $timing-function;
  }
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &:nth-child(4) {
    margin-bottom: 20px;
  }
}

.form__input {
  padding-top: 11px;
  padding-right: 12px;
  padding-left: 40px;
  padding-bottom: 11px;

  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border $duration $timing-function;

  &:focus {
    outline: none;
    border: 1px solid $accent-color;
  }

  &:focus + .form__icon {
    color: $accent-color;
  }
}

.form__comment {
  padding: 12px 16px;
  // width: 448px;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border $duration $timing-function;
  resize: none;

  &::placeholder {
    @include font(null, $fs: 12px, $lh: 1.17, $ls: 0.01em);
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    outline: none;
    border: 1px solid $accent-color;
  }
}

.form__check {
  @include centeredFlex();
  margin-bottom: 30px;

  &-icon {
    display: inline-block;
    margin-right: 8px;
    width: 16px;
    height: 15px;

    background-color: $primary-white-color;
    border: 2px solid $primary-text-color;
    border-radius: 2px;

    transition: background-color $duration $timing-function, border-color $duration $timing-function,
      background-image $duration $timing-function;
  }

  &-text {
    display: inline-flex;

    @include font(null, $fs: 10px, $lh: 1.17);
    color: $secondary-text-color;

    @media screen and (min-width: $mobile) {
      @include font(null, $fs: 12px, $lh: 1.17);
    }

    @media screen and (min-width: $desktop) {
      @include font(null, $lh: 1.71);
    }
  }
}

.form__check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;
  position: absolute;

  &:checked + .form__check-icon {
    border-color: $accent-color;
    background-color: $accent-color;
    background-image: url(../images/icon_check.svg);
    background-size: contain;
    background-origin: border-box;
  }
}

.form__check-link {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  @include font(null, $fs: 10px, $lh: 1.17);

  color: $accent-color;
  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color: $focus-btn-color;
  }

  &::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid $accent-color;

    color: $accent-color;

    @media screen and (min-width: $desktop) {
      bottom: 5px;
    }
  }

  @media screen and (min-width: $mobile) {
    @include font(null, $fs: 12px, $lh: 1.17);
  }

  @media screen and (min-width: $desktop) {
    @include font(null, $lh: 1.71);
  }
}

.form__btn {
  @include centeredFlex();

  min-width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;

  &:hover,
  &:focus {
    background-color: $focus-btn-color;
  }
}
